body {
    background-color: black;
    background-image: url("Imgs/background.jpg");
    background-size: 1900px 1200px;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.rectangle {
    height: 800px;
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    border-radius: 25px;
}

.logo-text {
    text-align: center;
    color: chartreuse;
    padding-top: 80px;
}

.logo {
    max-width: 13%;
    max-height: 11%;
}

.buttons {
    max-width: 1000px;
    background-color: chartreuse;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.scooters {
    padding-top: 20px;
    max-width: 1000px;
    margin: auto;
    color: white;
}

.nome-scooter {
    padding-top: 20px;
}

.monopattino {
    display: inline-block;
    font-size: 30px;
}

.stato-scooter {
    font-size: 20px;
}

#barra-caricaGino22 {
    background-color: orange;
    width: 400px;
    height: 30px;
    border-radius: 5px;
}

#barra-caricaMike24 {
    background-color: limegreen;
    width: 700px;
    height: 30px;
    border-radius: 5px;
}

#barra-caricaFede154 {
    background-color: firebrick;
    width: 210px;
    height: 30px;
    border-radius: 5px;
}